해당 노트북은 assistment 2009-2010 데이터를 전처리하기 위한 용도로 사용

In [28]:
import pandas as pd

#2009 skill data 불러오기
skill_data_path = "../datasets/assistment2009_2010/skill_builder_data.csv"

pd_skill = pd.read_csv(skill_data_path, encoding="ISO-8859-1")

pd_skill.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0,0.0,3,3.0

In [29]:
pd_skill['skill_name'].unique()

array(['Box and Whisker', 'Circle Graph', 'Histogram as Table or Graph',
       'Number Line', 'Scatter Plot', 'Stem and Leaf Plot', 'Table',
       'Venn Diagram', 'Mean', 'Median', 'Mode', 'Range',
       'Counting Methods', 'Probability of Two Distinct Events',
       'Probability of a Single Event',
       'Interior Angles Figures with More than 3 Sides',
       'Interior Angles Triangle', 'Congruence',
       'Complementary and Supplementary Angles',
       'Angles on Parallel Lines Cut by a Transversal',
       'Pythagorean Theorem', 'Nets of 3D Figures',
       'Unit Conversion Within a System',
       'Effect of Changing Dimensions of a Shape Prportionally', nan,
       'Area Circle', 'Circumference ', 'Perimeter of a Polygon',
       'Reading a Ruler or Scale', 'Calculations with Similar Figures',
       'Conversion of Fraction Decimals Percents', 'Equivalent Fractions',
       'Ordering Positive Decimals', 'Ordering Fractions',
       'Ordering Integers', 'Ordering Real Numbers', 'Rounding',
       'Addition Whole Numbers', 'Division Fractions', 'Estimation',
       'Fraction Of', 'Least Common Multiple', 'Multiplication Fractions',
       'Multiplication Whole Numbers', 'Percent Of',
       'Subtraction Whole Numbers', 'Square Root', 'Finding Percents',
       'Proportion', 'Scale Factor', 'Unit Rate', 'Scientific Notation',
       'Divisibility Rules', 'Prime Number', 'Absolute Value',
       'Exponents', 'Pattern Finding ',
       'D.4.8-understanding-concept-of-probabilities',
       'Algebraic Simplification', 'Algebraic Solving',
       'Choose an Equation from Given Information', 'Intercept',
       'Linear Equations', 'Percent Discount', 'Percents', 'Rate',
       'Slope', 'Multiplication and Division Positive Decimals',
       'Addition and Subtraction Integers',
       'Addition and Subtraction Positive Decimals',
       'Multiplication and Division Integers',
       'Addition and Subtraction Fractions', 'Reflection', 'Rotations',
       'Translations', 'Area Irregular Figure', 'Area Parallelogram',
       'Area Rectangle', 'Area Trapezoid', 'Area Triangle',
       'Surface Area Cylinder', 'Surface Area Rectangular Prism',
       'Volume Cylinder', 'Volume Rectangular Prism', 'Volume Sphere',
       'Order of Operations +,-,/,* () positive reals',
       'Order of Operations All', 'Equation Solving Two or Fewer Steps',
       'Equation Solving More Than Two Steps',
       'Angles - Obtuse, Acute, and Right', 'Greatest Common Factor',
       'Computation with Real Numbers',
       'Write Linear Equation from Ordered Pairs',
       'Write Linear Equation from Situation', 'Recognize Linear Pattern',
       'Write Linear Equation from Graph', 'Finding Slope From Situation',
       'Finding Slope From Equation', 'Finding Slope from Ordered Pairs',
       'Distributive Property', 'Midpoint', 'Polynomial Factors',
       'Recognize Quadratic Pattern',
       'Solving Systems of Linear Equations',
       'Quadratic Formula to Solve Quadratic Equation',
       'Parts of a Polyomial, Terms, Coefficient, Monomial, Exponent, Variable',
       'Interpreting Coordinate Graphs ', 'Solving for a variable',
       'Simplifying Expressions positive exponents',
       'Solving Inequalities',
       'Solving Systems of Linear Equations by Graphing'], dtype=object)

In [30]:
pd_skill.describe()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,sequence_id,...,school_id,hint_count,hint_total,overlap_time,template_id,answer_id,first_action,bottom_hint,opportunity,opportunity_original
count,5.255340e+05,525534.000000,525534.000000,525534.000000,525534.000000,525534.000000,525534.000000,525534.000000,5.255340e+05,525534.000000,...,525534.000000,525534.000000,525534.000000,5.255340e+05,525534.000000,48678.000000,525534.000000,79907.000000,525534.000000,449220.000000
mean,3.161965e+07,275517.199675,82623.435437,47937.082410,84113.537240,0.854788,0.679471,1.502466,4.799217e+04,7314.518764,...,3359.889176,0.440900,2.343095,5.958873e+04,39186.973305,147942.999836,0.104265,0.750986,79.017325,79.267542
std,4.941704e+06,10508.585740,6980.075777,12163.903242,25818.833052,0.352315,0.466680,10.579588,3.186983e+05,1415.629335,...,1874.088471,1.126559,1.647155,3.424129e+05,12186.156526,56691.957500,0.355609,0.432445,271.379609,281.534924
min,2.022408e+07,217900.000000,14.000000,86.000000,83.000000,0.000000,0.000000,0.000000,-7.759575e+06,5870.000000,...,1.000000,0.000000,0.000000,-7.759575e+06,86.000000,1.000000,0.000000,0.000000,1.000000,1.000000
25%,2.842936e+07,268669.000000,78558.000000,38069.000000,61117.000000,1.000000,0.000000,1.000000,7.687000e+03,6057.000000,...,2770.000000,0.000000,0.000000,9.904000e+03,30041.000000,104356.000000,0.000000,1.000000,4.000000,4.000000
50%,3.287434e+07,276974.000000,79066.000000,47752.000000,86353.000000,1.000000,1.000000,1.000000,2.079100e+04,7118.000000,...,2770.000000,0.000000,3.000000,2.573500e+04,31062.000000,136352.000000,0.000000,1.000000,12.000000,10.000000
75%,3.511790e+07,280999.000000,86415.000000,52325.000000,91659.000000,1.000000,1.000000,1.000000,5.000000e+04,7630.000000,...,5056.000000,0.000000,3.000000,6.232300e+04,47130.000000,198111.000000,0.000000,1.000000,46.000000,39.000000
max,3.831020e+07,291503.000000,96299.000000,106210.000000,207348.000000,1.000000,1.000000,3824.000000,8.407692e+07,13362.000000,...,9948.000000,10.000000,10.000000,8.407692e+07,106180.000000,323181.000000,2.000000,1.000000,3585.000000,3585.000000

In [31]:
#1. 일단 skill_name에서 NaN이 뜨는 행 모두 제거

pd_skill = pd_skill.dropna(subset = ['skill_name'])

In [33]:
pd_skill.describe()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,sequence_id,...,school_id,hint_count,hint_total,overlap_time,template_id,answer_id,first_action,bottom_hint,opportunity,opportunity_original
count,4.468440e+05,446844.000000,446844.000000,446844.000000,446844.000000,446844.000000,446844.000000,446844.000000,4.468440e+05,446844.000000,...,446844.000000,446844.000000,446844.000000,4.468440e+05,446844.000000,37894.000000,446844.000000,58732.000000,446844.000000,421318.000000
mean,3.174246e+07,275862.066663,82497.623535,47790.094172,83843.750953,0.942875,0.695187,1.450298,5.009859e+04,7293.393189,...,3427.032161,0.380048,2.302739,6.110788e+04,38663.466948,149083.127566,0.094834,0.743615,80.194126,82.764475
std,4.862266e+06,10099.580519,6933.925745,11552.314348,24556.023228,0.232082,0.460329,10.724505,3.306328e+05,1372.173450,...,1870.799124,1.054389,1.664033,3.562210e+05,11437.804005,57649.889690,0.351057,0.436641,282.252620,290.247680
min,2.022408e+07,217900.000000,14.000000,86.000000,83.000000,0.000000,0.000000,0.000000,-7.759575e+06,5870.000000,...,1.000000,0.000000,0.000000,-7.759575e+06,86.000000,1.000000,0.000000,0.000000,1.000000,1.000000
25%,2.867393e+07,269896.000000,78551.000000,39241.000000,66109.000000,1.000000,0.000000,1.000000,8.375000e+03,6068.000000,...,2770.000000,0.000000,0.000000,1.042800e+04,30036.000000,104865.250000,0.000000,0.000000,4.000000,4.000000
50%,3.346530e+07,277549.000000,79054.000000,48178.000000,86783.000000,1.000000,1.000000,1.000000,2.261700e+04,7169.000000,...,2770.000000,0.000000,3.000000,2.696800e+04,31680.000000,136163.000000,0.000000,1.000000,11.000000,10.000000
75%,3.511823e+07,281001.000000,86325.000000,52076.000000,91400.000000,1.000000,1.000000,1.000000,5.356350e+04,7478.000000,...,5056.000000,0.000000,3.000000,6.466100e+04,46397.000000,198068.000000,0.000000,1.000000,40.000000,39.000000
max,3.831020e+07,291503.000000,96299.000000,102044.000000,196456.000000,1.000000,1.000000,3824.000000,8.407692e+07,12451.000000,...,9948.000000,7.000000,10.000000,8.407692e+07,102028.000000,320181.000000,2.000000,1.000000,3585.000000,3585.000000

In [ ]:
# oportunity가 8 초과인 경우 모두 삭제